<nav class="navbar navbar-expand-md navbar-light bg-transparent">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item active mx-5" routerLinkActive='active'>
            <a class="nav-link" routerLink="fotos">
                <h3>Imagenes</h3>
            </a>
        </li>
        <li class="nav-item mx-5" routerLinkActive='active'>
            <a class="nav-link" routerLink="carga">
                <h3>Cargar</h3>
            </a>
        </li>
    </ul>
</nav>

<div class="container main-container">

    <router-outlet></router-outlet>

</div>